<nav  class="navbar navbar-expand-lg " style="background-color:rgb(2, 33, 121);z-index: 100;position: sticky;top: 0;box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);">
  <a style="color:rgb(255, 255, 255);margin-left: 10px;font-family:'Times New Roman', Times, serif" class="navbar-brand" href="/admin">ADMIN </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div style="font-family: 'Times New Roman', Times, serif;" class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" style="color: rgb(255, 255, 255);margin-left: 250px;" href="/admin/all-users">All Users <i class="badge bg-secondary">{{count}}</i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: rgb(255, 255, 255);" href="/admin/add-elivations">Add Elivations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: rgb(255, 255, 255);" href="/admin/messages">All Messages <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a style="margin-left:700px ;" href="/admin/admin-logout" class="btn btn-danger">Logout</a>
      </li>
      

    </ul>
  </div>
</nav>