<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-image:linear-gradient(to right,rgba(0, 0, 0, 0.801),rgba(0, 0, 0, 0.73)),url(/images/63d2be9b92090ee9bc28cf18.jpg);color: white;">
  
<div class="container">
    <table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">User Name</th>
      <th scope="col">User Email</th>
      <th scope="col">Messages</th>
    </tr>
  </thead>
  {{#each message}}
  <body>
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.userEmail}}</td>
      <td>{{this.message}}</td>
    </tr>
    {{/each}}
  </body>
</table>
</div>

</body>
</html>